jQuery(document).ready(function($) {

	if( acf.fields.color_picker ) {
		// custom colors
		var palette = [
		{{#palette}}
			'{{color}}',
		{{/palette}}
			'#000',
			'#FFF'
		];

		// when initially loaded find existing colorpickers and set the palette
		acf.add_action('load', function() {
			$('[data-name="section_bg_color"] input.wp-color-picker').each(function() {
				$(this).iris('option', 'palettes', palette);
			});
		});

		// if appended element only modify the new element's palette
		acf.add_action('append', function(el) {
			$(el).find('[data-name="section_bg_color"] input.wp-color-picker').iris('option', 'palettes', palette);
		});
	}

});